@media only screen and (max-width:768px) {

    .call .fa-bars{
        margin-top: 1rem;
        display: block;
        color: black;
        position: fixed;
        top: 0;
        right: 0;
        width: 15%;
        height: 15%;
        cursor: pointer;
    }
        
.navbar_nav{
    position: fixed;
    z-index: 1111;
    top: 13.5vh;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 90vh;
    text-align: center;
    display: none;
}
.navbar_nav a{
    color: white;
    display: block;
    margin-top: 40px;
    margin-left: 0;
    padding: 0px;
    font-size: 1.5rem;
}
.navbar_nav a:hover{
    color:#FFB607 ;

}
.call h2{
    display: none;
}
.serch{
    display: none;
}

.banner .title h2{
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 350;
}
.banner .title p{
    width: 100%;
    margin-left: 0%;
    margin-bottom: 4.9rem;
}
/* grid 100% */
.services__content, .about__content, .furnitures__content, .project__content, .contact__content, .footer__content{
    grid-template-columns: 100%;
}
.footer .form button{
    width: 15%;
}
.footer .form input{
    width: 100%;
}
.show{
    display: block;
  }
  .hide{
    display: none;
  }
}
@media only screen and (max-width:468px){
    .footer .form {
        justify-content: start;
    }
    .footer .form input{
        width: 70%;
    }
    .who__title p{
        width: 100%;
    }
}